
body {
    margin: 0;
}

#galleryApp {
    /* background: lightblue; */
    width: 100%;
}

#galleryWrapper {
    display: flex;
    justify-content: center;
    background: lightblue;
    width: 100%;
    flex-wrap: wrap;
}

.galleryBox { 
    margin: 20px;
    transition-duration: 0.2s;
}

.galleryDisplay {
    width: 160px;
}

.galleryDisplay * {
    margin: auto;
}

.galleryEdit-btn {
    display: flex;
    background: grey;
    width: 150px;
    cursor: pointer;
}

.galleryEdit-btn h3 {
    transition-duration: 0.2s;
    margin: auto;
    color: white;
}

.galleryEdit-btn:hover h3{
    color: red;
}

#galleryEdit-form {
    display: flex;
}

#galleryForm {
    order: 9999;
}

#galleryForm-submit { 
    background: orange;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#galleryForm-submit:hover {
    background: darkorange;
}

#galleryForm-submit h3 {
    margin: 0;
}

#galleryForm-delete {
    background: orange;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#galleryForm-delete:hover {
    background: darkorange;
}

#galleryForm-delete h1 {
    margin: 0;
}